<app-title [title]="'Perfil'"></app-title>

<div class="card rounded shadow-sm">
  <form [formGroup]="form">

      <!-- p>Form value: {{ form.value | json }}</!-->
      <!-- p>Form valid: {{ form.valid | json }}</!-->

    <div class="row p-3">
      <div class="col-lg-3 pt-1">
        <div class="card mb-3">
          <div class="card-header"></div>
          <div class="d-flex align-self-center pt-3">
            <a>
              <img
              src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
              name="aboutme" width="120" height="120" class="rounded-circle">
            </a>
          </div>
          <div class="card-body">
            <div class="h4 text-center mb-3">@UserName</div>
            <div class="h7 text-bold pb-1"><b>Nome:</b> Miracles Lee Cross</div>
            <div class="h7">
              Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js,
              etc.
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-6 text-center border-right">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Ministrados</div>
                </div>
                <div class="col-6 text-center">
                  <div class="h5">1342</div>
                  <div class="h6 text-muted">Eventos Participados</div>
                </div>
              </div>
            </li>
          </ul>
          <div class="card-footer"></div>
        </div>
      </div>

      <div class="col-lg-9">
        <div class="form-row">
          <div class="form-group col-12">
            <h3 class="border-bottom mb-4">Detalhe Perfil</h3>
          </div>

          <div class="row g-3 mb-3">
            <div class="col-sm-2">
              <label for="opcaoTitulo">Título:</label>
              <select class="form-select" id="opcaoTitulo"
                [ngClass]="{'is-invalid': f.opcaoTitulo.errors && f.opcaoTitulo.touched }"
                formControlName="opcaoTitulo"
              >
                <option selected>Selecione uma opção:</option>
                <option value="0">Nenhuma</option>
                <option value="Senhorita">Tecnólogo(a)</option>
                <option value="Senhorita">Bacharel</option>
                <option value="Senhorita">Especialista</option>
                <option value="Senhorita">Pós Graduado(a)</option>
                <option value="Senhorita">Mestre</option>
                <option value="Senhorita">Doutor(a)</option>
                <option value="Senhorita">Pós Doc</option>
              </select>
              <div *ngIf="f.opcaoTitulo.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            </div>

            <div class="col-sm">
              <label for="primeiroNome">Primeiro Nome:</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': f.primeiroNome.errors && f.primeiroNome.touched }"
                formControlName="primeiroNome"id="primeiroNome" placeholder="Insira o Primeiro Nome"
              />
              <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            </div>

            <div class="col-sm">
              <label for="ultimoNome">Último Nome:</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': f.ultimoNome.errors && f.ultimoNome.touched }"
                formControlName="ultimoNome" id="ultimoNome" placeholder="Insira o Último Nome"
              />
              <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            </div>
          </div>


          <div class="row g-3 mb-3">
            <div class="col-sm">
              <label for="email">e-mail:</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': f.email.errors && f.email.touched }"
                formControlName="email" id="email" placeholder="Insira o e-mail"
              />
              <div *ngIf="f.email.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
              <div *ngIf="f.email.errors?.email" class="invalid-feedback">Deve ser um endereço de e-mail válido.</div>
            </div>

            <div class="col-sm">
              <label for="telefone">Telefone:</label>
              <input type="text" class="form-control"
                [ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched }"
                formControlName="telefone" id="telefone" placeholder="Insira o Número de telefone"
              />
              <div *ngIf="f.telefone.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            </div>

            <div class="col-sm-3">
              <label for="funcao">Função:</label>
              <select class="form-select" id="funcao"
                [ngClass]="{'is-invalid': f.funcao.errors && f.funcao.touched }"
                formControlName="funcao"
              >
                <option selected>Selecione uma opção:</option>
                <option value=""></option>
                <option value="Participante">Participante</option>
                <option value="Palestrante">Palestrante</option>
              </select>
              <div *ngIf="f.funcao.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            </div>
          </div>


          <div>
            <label for="descricao">Descrição:</label>
            <input type="text" class="form-control"
              [ngClass]="{'is-invalid': f.descricao.errors && f.descricao.touched }"
              formControlName="descricao" id="descricao" placeholder="Insira uma Descrição"
            />
            <div *ngIf="f.descricao.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
          </div>
        </div>


        <div>
          <h3 class="pt-3 border-bottom">Mudar Senha</h3>
          <p>Caso mude de senha, preencha os campos abaixo:</p>
        </div>

        <div class="row">
          <div class="form-group col-sm">
            <label for="senha">Senha:</label>
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched }"
              formControlName="senha" id="senha" placeholder="Insira uma Senha"
            />
            <div *ngIf="f.senha.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">Deve ter no mínimo 6 caracteres.</div>
          </div>

          <div class="form-group col-sm">
            <label for="confirmarSenha">Confirmar Senha:</label>
            <input type="password" class="form-control"
              [ngClass]="{'is-invalid': f.confirmarSenha.errors && f.confirmarSenha.touched }"
              formControlName="confirmarSenha" id="confirmarSenha" placeholder="Confirme a Senha"
            />
            <div *ngIf="f.confirmarSenha.errors?.required" class="invalid-feedback">Campo obrigatório.</div>
            <div *ngIf="f.confirmarSenha.errors?.minlength" class="invalid-feedback">Deve ter no mínimo 6 caracteres.</div>
            <div *ngIf="f.confirmarSenha.errors?.mustMatch" class="invalid-feedback">Os campos precisam ser iguais.</div>
          </div>
        </div>

      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary border" (click)="resetForm($event)">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid"><!-- [disabled]="loading" -->
          <!-- span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></!-->
          Salvar Alteração
        </button>
      </div>
    </div>
  </form>

</div>


