<div class="card rouded shadow-sm">
  <form [formGroup]="form">
    <div class="p-3">
      <div class="row mb-3">
        <div>
          <label for="tema">Tema:</label>
          <input type="text" class="form-control" id="tema" formControlName="tema" placeholder="Insira o Tema" />
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-8">
          <label for="local">Local:</label>
          <input type="text" class="form-control" id="local" formControlName="local" placeholder="Insira o Local" />
        </div>
        <div class="col-md-4">
          <label for="dataEvento">Data e Hora:</label>
          <input type="datetime" class="form-control" id="dataEvento" formControlName="dataEvento" placeholder="Insira a Data e Hora" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <label for="qtdPessoas">Qtd Pessoas:</label>
          <input type="text" class="form-control" id="qtdPessoas" formControlName="qtdPessoas" placeholder="Insira a Quantidade de Pessoas" />
        </div>
        <div class="col-md-4">
          <label for="telefone">Telefone:</label>
          <input type="text" class="form-control" id="telefone" formControlName="telefone" placeholder="(000) 90000-0000" />
        </div>
        <div class="col-md-6">
          <label for="email">e-mail:</label>
          <input type="text" class="form-control" id="email" formControlName="email" placeholder="Insira o e-mail" />
        </div>
      </div>

    </div>

    <div class="card-footer">
      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary border">
          Cancelar Alteração
        </button>
        <button class="btn btn-success">
          <!-- span class="spinner-border spinner-border-sm mr-1"></!-->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
